/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding:33px 0 42px 33px ;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin: 20px 0;
    
}
.section-title{
    font-size: 24px;
    color: #562EFF;
    
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}
/* header styles 
----------------- */
header{
    background-color: #562EFF;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    
}
.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 870px;
    text-transform: capitalize;
    padding: 20px 0;
}
.web-title{
    display: flex;
}
.web-title img{
    width: 40px;
    height: 50px;
}
.web-title h1{
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding-left: 16px;
}
/* navbar styles
----------------- */
ul.navbar{
    display: flex;
    list-style: none;
    align-items: center;
    

}
ul.navbar li a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 36px;
    font-size: 16px;
}
ul.navbar li a img{
    width: 51px;
    height: 51px;
}

/* ------------
player styles
--------------- */

.players{
    display: grid;
     grid-template-columns: repeat(3,
     1fr);
     grid-row-gap:30px;
     padding-top: 40px;

}
.player{
    display: flex;
    align-items: center;

}
.player img{
    width: 56px;
    height: 56px;

}
.player h3{
    padding-left: 16px;
    font-size: 18px;
    text-transform: capitalize;
}
/* -------------
blog section styles 
----------------------------*/
.blogs{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
article .blog{
    display: flex;
    margin-top: 33px;
}
.thumbnail{
    
}
.thumbnail img{
    width: 117px;
    height: 117px;

}
.blog-info{
    padding-left:16px ;
}
.blog-info h2{
    font-size: 20px;
    font-weight: 500;
}
.blog-info a{
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;
}
/* course style  */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.course-thumbnail img{
    width: 224px;
    height: 104px;
    margin-top: 24px;
}
.course p{
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 500;
    padding-right: 30px;
    text-transform: capitalize;
}
.course .author{
    color: #ED6B4F;
    font-weight: 400;
    font-size: 14px;
}
span .filed{
    color: #FFC014;
    font-size: 12px;
}
span .nil{
    background: #AEAEAE;
    opacity: 0.25;
    font-size: 12px;
}
span.rating{
   color: #AEAEAE;
}
span.duration{
    background-color:  #FEE5DF;
    color: #ED6B4F;
    border-radius: 25%;
    display: inline-block;
    padding: 3px 7px;
}

/* footer area  */
footer{
    padding: 24px;
    background-color: #562EFF;
    color:#ffffff;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
}
   /*-----------------------------------------
   ------------ medie queries--------------
   ----------------------------------------- */
   @media only screen and (max-width:688px) {
       .container{
           width: 100%;
       }
       .players,.blogs,.courses{
           grid-template-columns:1fr;
       }
       .player,.courses{
           flex-direction: column;
       }
   }

   /* tablet divices */

   @media only screen and (min-width: 689px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .players,.blogs,.courses{
        grid-template-columns: repeat(2, 1fr);
        
    }
   }
   